.add-post-modal {
  max-width: 450px;
  width: 100%;
  border-radius: 8px;
  min-height: 580px;

  &.fancybox__content {
    padding: 0;
  }

  &.carousel__button.is-close {
    display: none;
  }

  &__title-wrap {
    border-bottom: 1px solid #C2C2C2;
    height: 41px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px 0 41px;
    margin-bottom: 12px;
  }

  &__title {
    font-size: 18px;
    color: black;
    @include medium();
  }

  &__title-img {
    width: 12px;
    height: 11px; 
  }

  &__title-btn {
    @include reset-button-styles();
    height: 12px;
  }

  &__top {
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 0;
  }

  &__top-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__avatar {
    width: 57px;
    min-width: 57px;
    height: 57px;
    border-radius: 50%;
    margin-right: 12px;
    overflow: hidden;
  }

  &__avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__name {
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 6px;
    @include light();
  }

  &__switch {
    height: 32px;
    position: relative;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    &-slider {
      display: flex;
      background-color: rgba(194, 194, 194, 0.4);
      border-radius: 8.91px;
      position: relative;
      height: 32px;
      width: 247px;
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &-slider-item {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      line-height: 16px;
      color: #333333;
      @include regular();
      z-index: 2;
    }

    &-slider::before {
      position: absolute;
      content: "";
      width: 50%;
      top: 2px;
      bottom: 2px;
      right: 2px;
      background-color: #90C85E;
      border-radius: 8.91px;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .add-post-modal__switch-slider::before {
    -webkit-transform: translateX(calc(-100% + 4px));
    -ms-transform: translateX(calc(-100% + 4px));
    transform: translateX(calc(-100% + 4px));
    }
  }


  &__checkboxes {
    padding: 30px 16px; 
  }

  &__checkboxes-item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }

    &--checkbox {
      margin: 0;
      margin-right: 8px;
      width: 18px;
      height: 18px;
      border: 1px solid #333333;
      border-radius: 2px;
    }

    &--text {
      font-size: 14px;
      line-height: 16px;
      @include light();
    }
  }

  &__textarea {
    width: 100%;
    height: 180px;
    border: none;
    background-color: #F7F7F7;
    padding: 10px 16px;
    color: #333333;
    font-size: 14px;
    line-height: 16px;
    @include light();
  }

  &__add-photo {
    padding: 12px 16px 19px;
    border-bottom: 1px solid #C2C2C2;

    &--btn {
      @include reset-button-styles();
      border: 1px solid #919191;
      border-radius: 8px;  
      background-color: #F3F3F3;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 36px;
      width: 174px;
    }
    &--btn-icon {
      margin-right: 7px;
      width: 22px;
      height: 16px;
      color: var(--text-color);
    }
  
    &--btn-text {
      font-size: 16px;
      @include light();
      color: black;
    }
  }

  &__bottom {
    padding: 18px 16px 21px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__buttons {
    display: none;
    align-items: center;
  }

  &__buttons.active-option {
    display: flex;
  }

  &__buttons-btn {
    @include std-button(38px);
    width: 84px; 
  }

  &__buttons-btn-schedule {
    @include std-button(38px);
    background: rgba(194, 194, 194, 0.2);
    @include regular();
    width: 96px;
    margin-right: 16px;
  }

  &__bottom-select-wrapper {
    width: 173px;
  }

  &__schedule-head-btn {
    @include reset-button-styles();
    outline: none;
    display: none;
    align-items: center;
  }

  &__schedule-icon {
    margin-right: 22px;
  }

  &__schedule-title {
    font-size: 18px;
    color: black;
    @include medium();
  }

  &__schedule-content {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 12px 16px 16px;
  }

  &__schedule-select-wrapper {
    width: 330px;
  }

  &__schedule-select-title {
    font-size: 14px;
    line-height: 16px;
    @include light();
  }

  &__calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 23px;
    width: 100%;
    max-width: 286px;

    &-head {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 10px;
    }

    &-title {
      font-size: 18px;
      line-height: 21px;  
      @include regular();
      color: #000000;
    }

    &-date {
      span {
        font-size: 18px;
        line-height: 21px;
        color: #306700;
        @include regular();
        margin-right: 7px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__time {
    display: flex;
    align-items: center;
    margin-top: 23px;

    &-text {
      font-size: 18px;
      line-height: 21px;
      @include regular();
      color: #000000;
    }

    &-text {
      margin-right: 11px;
    }

    &-select-wrapper {
      width: 76px;
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__done-btn-wrapper {
    position: absolute;
    bottom: 16px;
    right: 17px;
  }
}

.add-post-modal.schedule {
  .add-post-modal__title-wrap {
    padding: 0 16px 0 21px;
  }
  .add-post-modal__title {
    display: none;
  }

  .add-post-modal__content {
    display: none;
  }

  .add-post-modal__schedule-head-btn {
    display: flex;
  }

  .add-post-modal__schedule-content {
    display: flex; 
  }
}
