.become-creator-message {
  width: 32.8%;
  max-width: 380px;
  position: fixed;
  right: 20px;
  bottom: 5px;
  z-index: 100;

  background: #FFFFFF;
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  padding: 12px;

  &__title {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 5px;
    color: var(--text-color);
    @include bold();
  }

  &__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    @include light();

    &_link {
      color: var(--dark-green-color);
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__close {
    @include reset-button-styles();
    width: 16px;
    height: 16px;
    position: absolute;
    top: 14px;
    right: 14px;
  }

  &__close-icon {
    width: 100%;
    height: 100%;
    color: var(--mid-grey);
    pointer-events: none;
    transition: color .3s ease-in-out;

    .become-creator-message__close:hover & {
      color: var(--green-color);
    }
  }
}

@media screen and (max-width: 1050px) {
  .become-creator-message {
    display: none;
  }
}
