.nav-sidebar {
  width: 100%;
  padding: 17px 0 17px 17px;
  background: #FAFAFA;
  flex-grow: 10;
  position: relative;

  &__list {
    margin-bottom: 30px;
  }

  &__list-item {
    @include reset-button-styles();
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 39px;
    border-radius: 4px;
    text-decoration: none;
    padding-left: 8px;
    padding-right: 8px;
    transition: all .3s ease-in-out;

    &:hover {
      background: rgba(194, 194, 194, 0.1);
    }
    &_active {
      background: rgba(194, 194, 194, 0.1);
    }

    &:not(:last-child) {
      margin-bottom: 9px;
    }
    &:last-child {
      margin-top: 19px;
    }
  }

  &__list-item-icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 24px;
    color: var(--grey-color);
    margin-right: 12px;

    .nav-sidebar__list-item_active & {
      color: var(--dark-green-color);
    }
  }

  &__list-item-title {
    font-size: 16px;
    @include light();
    color: var(--text-color);
    position: relative;
    transition: all .3s ease-in-out;

    .nav-sidebar__list-item:hover & {
      @include regular();
    }

    .nav-sidebar__list-item_active & {
      @include medium();
    }
  }

  &__list-item-count {
    background: #83C1EE;
    height: 24px;
    min-width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    @include bold();
    color: var(--text-color);
    border-radius: 2px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
