.not-verified-modal {
  width: 100%;
  max-width: 450px;
  padding: 23px 40px 43px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .carousel__button.is-close {
    display: none;
  }

  &__warning {
    position: relative;
    margin-bottom: 37px;

    &::after {
      content: '!';
      position: absolute;
      right: 40%;
      top: 15px;
      font-size: 70px;
      color: black;
      @include medium();
    }
  }

  &__text {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
    @include medium();
    margin-bottom: 40px;
  }

  &__btn {
    @include std-button(38px);
    width: 190px;
  }
}