.password-settings {

    h1 {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 20px;
        @include bold();
    }

    &__note {
        font-size: 16px;
        line-height: 19px;
        display: flex;
        margin-bottom: 23px;
        @include light();

        &-complete {
            width: 23px;
            height: 23px;
            margin-right: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: #5EC8A8;
        }
    }

    &__button {
        width: 176px;
        @include std-button(38px);
    }

}