.posts {

  &-locked {
    @include std-card();
    height: 237px;
    padding: 60px 25px 30px;

    &__subscribe-btn {
      @include std-button(46px);
      width: 100%;
      display: none;
    }
  
    &__subscribe-btn--link {
      color: #333333;
      display: flex;
      align-items: center;
      text-decoration: none;
    }
  
    &__subscribe-btn--text {
      font-size: 18px;
      line-height: 21px;
      @include bold();
    }
  
    &__subscribe-btn--icon {
      margin-right: 3px;
    }

    &__container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__item {
    @include std-card();
    padding-bottom: 23px; 
  }

  &__item-content {
    padding: 16px 16px 0;
  }

  &__item-top {
    margin-bottom: 11px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__item-top-main {
    display: flex;
    align-items: center;
    max-width: calc(100% - 40px);
    width: 100%;
  }

  &__item-top-btn {
    @include reset-button-styles();
  }

  &__item-avatar-wrap {
    text-decoration: none;
    width: 38px;
    height: 38px;
    min-width: 38px;
    min-height: 38px;
    margin-right: 16px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__item-avatar {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  &__item-top-text {
    max-width: calc(100% - 38px - 16px);
  }

  &__item-name {
    font-size: 18px;
    color: black;
    display: block;
    @include medium();
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
  }

  &__item-time {
    color: var(--grey-color);
    font-size: 14px;
    @include light();
  }

  &__item-text-wrap {
    margin-bottom: 20px;
  }

  &__item-creator {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  &__item-creator-photo-wrapper {
    @include reset-button-styles();
    margin-right: 7px;
  }

  &__item-creator-photo {
    border-radius: 20px;
    width: 28px;
    height: 28px;
    object-fit: cover;
  }

  &__item-creator-name {
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    @include light();
    &:hover {
      text-decoration: none;
    }
  }

  &__item-video {
    display: block;
    width: 100%;
    height: 285px;
    position: relative;
    overflow: hidden;
  }

  &__item-video-wrapper {
    position: relative;
    margin-bottom: 6px;
  }

  &__item-video-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    object-fit: cover;

    &_private {
      filter:blur(20px);
    }
  }

  &__item-play-btn {
    width: 54px;
    height: 54px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -27px;
    margin-top: -27px;
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;

    .posts__item-video:hover & {
      border-color: var(--green-color);
    }
  }

  &__item-play-btn-icon {
    width: 27px;
    height: 27px;
    color: white;
    transition: all .2s ease-in-out;
    .posts__item-video:hover & {
      color: var(--green-color);
    }
  }

  &__item-overlay {
    position: absolute;
    top: 0;right: 0;bottom: 0;left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  &__item-unlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 17px 18px 14px;
    height: 178px;
    background: #FFFFFF;
    border-radius: 8px;
  }

  &__item-unlock--icon {
    width: 16px; 
    height: 21px;
    margin-bottom: 12px;
  }

  &__item-unlock-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item-unlock--price {
    font-size: 18px;
    line-height: 21px;
    @include medium();
  }

  &__item-unlock--button {
    @include std-button(38px);
    width: 152px;
  }

  &__item-unlock--text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 11px;
    @include light();
  }

  &__item-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px 0 17px;
  }

  &__item-footer-statistic {
    width: 106px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item-footer-section {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    color: #919191;
    @include light();
  }

  &__item-footer-section--icon {
    margin-right: 5px;
  }
}


@media screen and (max-width: 1050px) {
  .posts-locked__subscribe-btn {
    display: flex;
  }
}