.profile-person {
    border: 1px solid var(--light-grey);
    border-radius: 8px;
    position: relative;

    &__head {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-size: 14px;
        line-height: 19px;
        padding: 4px 0;
        @include bold();
    }

    &__button {
        @include reset-button-styles();
        padding: 8px 18px;
        background: rgba(194, 194, 194, 0.2);
        border-radius: 8px;
        color: #333333;
        font-size: 18px;
        @include regular();
    }

    &__avatar-wrapper {
        position: absolute;
        top: 59px;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    &__avatar {
        width: 120px;
        min-width: 120px;
        height: 120px;
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
    }

    &__image-wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-top: 30px;
    }

    &__image {
        width: 100%;
        max-width: 389px;
        height: 100%;
        max-height: 193px;
        object-fit: cover;
    }
}

.profile-person-top {
    height: 212px;
    border-bottom: $grey-border;
    position: relative;
    padding: 14px 20px;
}

.profile-person-bottom {
    padding: 14px 20px;
    padding-bottom: 40px;
    position: relative;
}

@media screen and (max-width: 500px) {
    .profile-person-top {
        padding: 14px 16px;
    }

    .profile-person-bottom {
        padding: 14px 16px;
    }
}
