.promoted-creators-sidebar {
  width: 100%;
  padding: 30px;

  .home__content & {
    height: 0;
    visibility: hidden;
    opacity: 0;
    padding: 0;
  }

  &__title {
    font-size: 18px;
    @include medium();
    color: var(--grey-color);
    margin-bottom: 24px;
  }

  &__list {
    margin-bottom: 22px;
  }

  &__list-wrapper {
    margin-bottom: 5px;
  }

  &__item {

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__list-pagination {
    display: flex;
    align-items: center;
    justify-content: center;

    .swiper-pagination-bullet {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #C2C2C2;

      &:not(:last-child) {
        margin-right: 6px;
      }
      &-active {
        background: var(--green-color);
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 25px;
  }

  &__nav-item {
    font-size: 14px;
    @include light();
    text-decoration: none;
    color: var(--grey-color);
    position: relative;

    &:not(:last-child) {
      margin-right: 36px;

      &:after {
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #C2C2C2;
        right: -21px;
        top: 50%;
        margin-top: -2px;
      }
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    padding-left: 10px;
  }

  &__socials-item {
    width: 32px;
    max-width: 32px;
    max-height: 32px;
    height: 32px;
    color: var(--grey-color);
    &:not(:last-child) {
      margin-right: 14px;
    }
  }

  &__socials-item-icon {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}

@media screen and (max-width: 1050px) {
  .promoted-creators-sidebar {

    .home__content & {
      height: auto;
      visibility: visible;
      opacity: 1;
      padding: 20px;
    }
  }
}
