.schedule-confirm {
  width: 100%;
  max-width: 450px;

  &.fancybox__content  {
    padding: 0;
  }

  &__close-btn {
    @include reset-button-styles();
    position: absolute;
    top: 13px;
    right: 12px;
    width: 12px;
    height: 11px;
  }

  &__top {
    padding: 47px 40px 50px;
    border-bottom: 1px solid #C2C2C2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__top-image {
    width: 69px;
    height: 69px;
    background: #5EC8A8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black; 
    margin-bottom: 6px;

    &--icon {
      width: 30px;
    }
  }

  &__top-text {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
    @include light();
  }

  &__top-title {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    @include bold();
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 23px 40px 27px;
  }

  &__bottom-text {
    text-align: center;
    line-height: 16px;
    font-style: 14px;
    color: #333333;
    @include light();
    margin-bottom: 19px;
  }

  &__bottom-btn {
    @include std-button(38px);
    width: 190px;
  }
}