.settings-pages {
  width: 100%;
  padding: 0 16px;
  border-bottom: $grey-border;

  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    height: 44px;
    padding-top: 10px;
  }

  &__button {
    @include reset-button-styles();
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    font-size: 16px;
    text-decoration: none;
    color: #333333;
    @include medium();
    position: relative;

    &:not(:last-child) {
      margin-right: 29px;
    }

    &.active {
      &:after {
        content: '';
        position: absolute;
        bottom: -8px;
        left: 0;
        right: 0;
        height: 2px;
        background: var(--green-color);
      }
    }

    &:disabled {
      opacity: 0.3;
      pointer-events: none;
      cursor: not-allowed;
    }
  }
}
