.subscription-set-up__title {
    font-size: 18px;
    padding-bottom: 25px;
    @include medium();
}

.subscription-price {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 12px;

    &__title {
        font-size: 14px;
        @include light();
    }
    
    &__text {
        font-size: 14px;
        @include light(); 
    }

    &__switch {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &-text {
            font-style: 16px;
            @include light();
        }
    }
    &__select {
        width: 155px;
    }
}


@media screen and (max-width: 418px){

    .subscription-price {

        &__select {
            order: 2;
            margin-top: 25px;
        }
    }

}