.creator {
  display: flex;
  flex-grow: 10;
  position: relative;
  justify-content: space-between;
  background: #FAFAFA;

  &__sidebar {
    width: 24.6%;
  }

  &__content {
    padding: 20px;
    width: 42.6%;
    max-width: 100%;
  }

  &__main {
    margin-bottom: 20px;
  }

  &__side-subscribe-btn {
    max-width: 100%;
    width: 32.8%;
  }

  &__not-verified-message {
    margin-bottom: 44px;
  }

  &__create-new-post {
    margin-bottom: 21px;
  }

  &__pages {
    margin-bottom: 5px;
  }

  &__empty {
    margin-top: 40px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    &-image {
      width: 243px;
      height: 197px;
    }
  }

  &__subscribe-btn {
    @include std-button(46px);
    width: 100%;
    margin-bottom: 20px;
  }

  &__subscribe-btn--link {
    color: #333333;
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__subscribe-btn--text {
    font-size: 18px;
    line-height: 21px;
    @include bold();
  }

  &__subscribe-btn--icon {
    margin-right: 3px;
  }
}
  
  @media screen and (max-width: 1050px) {
    .creator {
  
      &__content {
        width: 75.4%;
      }

      &__side-subscribe-btn {
        display: none;
      }
    }
  }
  
  @media screen and (max-width: 800px) {
    .creator {
  
      &__sidebar {
        display: none;
      }
  
      &__content {
        width: 100%;
      }
    }
  }