.home {
  display: flex;
  flex-grow: 10;
  position: relative;
  justify-content: space-between;
  background: #FAFAFA;

  &__sidebar {
    min-width: 24.6%;
  }

  &__content {
    padding: 20px;
    max-width: 42.6%;
    width: 100%;
  }

  &__promoted-creators {
    min-width: 32.8%;
  }

  &__not-verified-message {
    margin-bottom: 44px;
  }

  &__create-new-post {
    margin-bottom: 19px;
  }
}

@media screen and (max-width: 1050px) {
  .home {

    &__content {
      max-width: 75.4%;
    }

    &__promoted-creators {
      display: none;
    }
  }
}

@media screen and (max-width: 800px) {
  .home {

    &__sidebar {
      display: none;
    }

    &__content {
      max-width: 100%;
    }
  }
}
