.login {
  display: flex;
  width: 100%;
  flex-grow: 10;
  position: relative;
  min-height: 545px;
  overflow: hidden;

  &__cta {
    background: linear-gradient(309.51deg, #90C85E 9.27%, #ADEC75 97.7%);
    width: 50%;
    min-width: 50%;
    position: relative;
    padding: 54px 110px 0 125px;
    z-index: 2;
  }

  &__logo {
    width: calc(100% + 50px);
    padding: 7px 10px;
    background: linear-gradient(90deg, #FFFFFF 1%, rgba(255, 255, 255, 0) 90%);
    border-radius: 50px;
    margin-bottom: 80px;
    z-index: 2;
  }

  &__logo-image {
    object-fit: cover;
  }

  &__title {
    margin-bottom: 43px;
    position: relative;
    z-index: 12;
  }

  &__title-part {
    display: block;
    font-size: 36px;
    @include bold();
    color: var(--text-color);

    &:not(:last-child) {
      margin-bottom: 19px;
    }
  }

  &__subtitle {
    font-size: 18px;
    line-height: 28px;
    @include light();
    color: var(--text-color);
    position: relative;
    z-index: 12;
    max-width: 90%;
  }

  &__lady {
    position: absolute;
    bottom: -4px;
    left: 50%;
    //margin-left: -247px;
    //width: 413px;
    width: 32vw;
    margin-left: -19%;
    z-index: 10;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 0;
    padding-bottom: 75%;
    aspect-ratio: 1 / 1;

    .login__cta & {
      display: none;
    }
  }

  &__enter {
    width: 50%;
    min-width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 74px 20px 20px 70px;
    position: relative;
    z-index: 12;
  }

  &__enter-form {
    max-width: 286px;
    width: 100%;
    margin-bottom: 60px;
  }

  &__enter-title {
    font-size: 18px;
    @include medium();
    color: var(--text-color);
    text-align: center;
    margin-bottom: 28px;
  }

  &__form-input-list {
    margin-bottom: 20px;
  }

  &__form-input-holder {

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__form-input {
    @include std-input(42px);
  }

  &__form-button-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__form-button {
    @include std-button(42px);
    max-width: 186px;
    width: 100%;
  }

  &__form-links {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__form-links-item {
    @include regular();
    color: var(--dark-green-color);
    text-decoration: none;
    position: relative;
    font-size: 14px;

    &:not(:last-child) {
      margin-right: 28px;
    }

    &:first-child {
      &:after {
        content: '';
        width: 4px;
        height: 4px;
        background: var(--light-grey);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        margin-top: -2px;
        right: -16px;
        pointer-events: none;
      }
    }
  }

  &__socials {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 217px;
    width: 100%;
  }

  &__socials-item {
    @include reset-button-styles();
    border-radius: 8px;
    height: 38px;

    display: flex;
    align-items: center;
    font-size: 16px;
    color: white;
    @include regular();
    position: relative;
    padding-left: 40px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &_google {
      background: #4285F4;
      padding-left: 49px;
    }
    &_fb {
      background: #3C5A9A;
    }
    &_twitter {
      background: #2AA9E0;
    }
  }

  &__socials-item-icon-wrap {
    width: 34px;
    height: 36px;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    border-radius: 7px 0 0 7px;
    display: flex;
    align-items: center;
    justify-content: center;

    .login__socials-item_google & {
      background: white;
    }

  }

  &__socials-item-icon {

    .login__socials-item_google & {
      width: 18px;
      height: 18px;
    }

    .login__socials-item_fb & {
      width: 18px;
      height: 18px;
    }

    .login__socials-item_twitter & {
      width: 18px;
      height: 15px;
      color: white;
    }
  }
}

@media screen and (max-height: 1385px) {
  .login {
    &__lady {
      padding-bottom: 0;
      max-height: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 1160px) {
  .login {

    &__logo {
      width: calc(100% + 50px);
      margin-bottom: 30px;
    }

    &__logo-image {
      height: 47px;
    }

    &__cta {
      padding: 40px 130px 20px 20px;
    }
  }
}

@media screen and (max-width: 1030px) {
  .login {
    min-height: 492px;

    &__lady {
      width: 370px;
      margin-left: -28%;
    }

    &__cta {
      width: 45.4%;
      min-width: 45.4%;
    }

    &__logo {
      padding: 3px 10px;
      margin-bottom: 35px;
    }

    &__logo-image {
      height: 37px;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__title-part {
      font-size: 24px;
      line-height: 1.15;

      &:not(:last-child) {
        margin-bottom: 14px;
      }
    }

    &__subtitle {
      font-size: 16px;
      line-height: 26px;
    }

    &__enter {
      width: 54.6%;
      min-width: 54.6%;
      padding: 40px 20px 20px 91px;
    }
  }
}

@media screen and (max-width: 760px) {
  .login {

    &__lady {
      margin-left: -34%;
    }
  }
}

@media screen and (max-width: 740px) {
  .login {
    flex-direction: column;

    &__cta {
      width: 100%;
      min-width: 100%;
      min-height: 305px;
      padding-top: 32px;
      padding-bottom: 27px;
      overflow: hidden;
    }

    &__logo {
      width: calc(100% + 100px);
      margin-bottom: 29px;
    }

    &__lady {
      right: -34px;
      bottom: 0;
      width: 228px;
      margin-left: 0;
      left: auto;

      .login & {
        display: none;
      }

      .login__cta & {
        display: block;
      }
    }

    &__title-part {

      &:not(:last-child) {
        margin-bottom: 18px;
      }
    }

    &__subtitle {
      max-width: 100%;
    }

    &__enter {
      width: 100%;
      min-width: 100%;
      padding: 14px 20px 59px 20px;
      align-items: stretch;
    }

    &__enter-title {
      text-align: start;
      margin-bottom: 14px;
      padding-left: 3px;
    }

    &__enter-form {
      max-width: 100%;
    }
  }
}
