.settings {
  display: flex;
  justify-content: space-between;
  flex-grow: 10;

  &__sidebar {
    max-width: 24.6%;
  }

  &__content {
    padding: 20px;
    width: 100%;
    max-width: 72%;
  }

  &__window {
    border: $grey-border;
    box-shadow: 4px 4px 10px rgba(196, 196, 196, 0.2);
    border-radius: 4px;

    &-inner {
      width: 100%;
    }

    &-verification {
      padding: 30px 20px 40px 20px;
      border-bottom: $grey-border;
    }

    &-subscription {
      padding: 30px 20px;
      border-bottom: $grey-border;

      &--message {
        padding-top: 30px;
        margin-top: 60px;
        h1 {
          margin-bottom: 4px;
          font-style: 16px;
          @include bold();
        }
        p {
          font-size: 14px;
          @include light();
        }
        textarea {
            @include std-input(123px);
            max-width: 660px;
            margin-top: 16px;
            padding: 15px;
        }
        &--attach {
          margin-top: 15px;
          display: flex;
          align-items: center;
          span {
            font-size: 16px;
            line-height: 19px;
            margin-left: 4px;
            @include light();
          }
        }
      }

      &.disabled {
        opacity: 0.4;
        pointer-events: none;
      }
    }

    &-specials {
      padding: 30px 20px;
    }

    &-person {
      width: 100%;
      padding: 30px 20px;
      display: grid;
      grid-template-columns: 432px minmax(150px, 1fr);
      grid-template-rows: 1fr auto;
      grid-gap: 30px;
      background-color: #fff;
      border-bottom: $grey-border;
    }

    &-authentification {
      padding: 20px 20px 26px;
      border-bottom: $grey-border;
    }

    &-password {
      padding: 20px 20px 45px;
    }
  }
}

.non-active {
  display: none;
}

@media screen and (max-width: 1025px) {
  .settings {

    &__window {

      &-person {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr auto;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .settings {

    &__sidebar {
      display: none;
    }

    &__content {
      max-width: 100%;
    }


  }
}
