:root {
  --green-color: #90C85E;
  --dark-green-color: #306700;
  --hover-green-color: #84B757;
  --active-green-color: #79A74F;
  --bage-color: #F8F3E0;
  --grey-color: #919191;
  --malachite-color: #5EC8A8;
  --text-color: #333333;
  --text-color-2: #535353;
  --mid-grey: #909090;
}


$grey-border :  1px solid rgba(194, 194, 194, 0.5);
