{{> header title="Page" }}
{{> mainHeader }}

<div class="page-wrap js-page-wrap">
  <div class="page-wrap__content">
    <div class="home">
      <div class="home__sidebar">
        {{> navSidebar context=main.sidebarExp activeTab="home" }}

        {{> sidebarButtons }}

        {{> completeness completed=true}}
      </div>

      <div class="home__content">
        <div class="home__create-new-post">
          {{> createNewInPosts verified=true }}
        </div>

        {{> promotedCreatorsSidebar isMobile="true" }}

        {{> posts main.posts}}
      </div>

      <div class="home__promoted-creators">
        {{> promotedCreatorsSidebar }}
      </div>
    </div>
  </div>

  {{> mobileNavigation }}
  {{> mobileProfileDropdown }}

  {{> footerContent }}
  {{> footer }}

</div>
