{{> header title="Page" }}
{{> mainHeader }}

<div class="page-wrap">
    <div class="page-wrap__content">
        <div class="my-profile">
            <div class="my-profile__sidebar">
                {{> navSidebar context=main.sidebarExp subscriptions=true subscribers=true}}

                {{> sidebarButtons verified=true}}
            </div>

            <div class="my-profile__content">
            
                <div class="my-profile__main">
                    {{> myProfileMain verified=true }}
                </div>

                <div class="my-profile__create-new-post">
                    {{> createNewInPosts }}
                </div>

                <div class="my-profile__pages">
                    {{> myProfilePages main.myProfilePages}}
                </div>

                <div class="my-profile__posts">
                    {{> posts main.profilePosts}}
                </div>

            </div>

            <div class="my-profile__promoted-creators">
            {{> promotedCreatorsSidebar }}
            </div>
        </div>
    </div>

  {{> mobileNavigation }}

  {{> footerContent }}
  {{> footer }}

</div>
