{{> header title="Page" }}
{{> mainHeader }}

<div class="page-wrap">
    <div class="page-wrap__content">
        <div class="settings">
            <div class="settings__sidebar">
                {{> navSidebar }}
            </div>
            <div class="settings__content">
                <div class="settings__window">

                    {{> windowHead head="Settings"}}

                    {{> settingsPages activeTab="Profile" disabled="Payments"}}

                    <div class="settings__window-inner">
                        <div class="settings__window-person">
                            {{> profilePerson }}

                            {{> profileInfo }}

                            {{> linkedAccounts }}
                        </div>
                        <div class="settings__window-authentification">
                            {{> doubleAuthentification }}
                        </div>
                        <div class="settings__window-password">
                            {{> passwordSettings }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{> mobileNavigation }}

    {{> footerContent }}
    {{> footer }}

</div>