<h1 class="verification-successful__title">Account verification</h1>
<div class="verification-successful__string">
    <div class="verification-successful__string-icon">
    <svg width="0.9em" height="0.9em" viewBox="0 0 8.59 7.46">
        <use href="{{assets}}/img/svg-sprite/sprite.svg#complete-fat" />
    </svg>
</div>
<span class="verification-successful__string-text">Account verified successfuly</span>
</div>
