<div class="add-new-icon-group">
  <svg class="add-new-icon-group__icon" viewBox="0 0 22 16">
    <use href="{{assets}}/img/svg-sprite/sprite.svg#image"></use>
  </svg>

  <span class="add-new-icon-group__text">Add Photo / Video</span>
</div>
