<div id="dialog-content" style="display:none;" class="add-post-modal">
  <div class="add-post-modal__title-wrap">
    <h2 class="add-post-modal__title">Create new post</h2>
  </div>

  <div class="add-post-modal__content">
    <!-- TOP -->
    <div class="add-post-modal__top">
      <div class="add-post-modal__avatar">
        <img src="https://place-hold.it/146x35/666" alt="" class="add-post-modal__avatar-img">
      </div>

      <div class="add-post-modal__top-content">
        <p class="add-post-modal__name">Kate Lindman</p>
        <div class="add-post-modal__switch"></div>
      </div>
    </div>
    <!-- /TOP -->

    <div class="add-post-modal__checkboxes">

    </div>
  </div>
</div>
