<div class="payment-details">
  <h1 class="payment-details__title">Bank payment details</h1>
  <p class="payment-details__text">Add, update, or remove your bank details.</p>
  <div class="payment-details__select-wrapper">
    <label for="country-select">
      <p class="payment-details__select-title">Country of your legal residence</p>
      <select placeholder="select country" name="country" id="country-select"
              class="js-standard-select payment-details__select">
        <option value="Germany">Germany</option>
        <option value="Italy">Italy</option>
        <option value="France">France</option>
      </select>
    </label>
  </div>
  <label for="payment-age" class="payment-details__age">
    <input type="checkbox" name="payment-age" id="payment-age" class="payment-details__age-checkbox"></input>
    <span class="payment-details__age-text">Tick here to confirm that you are at least 18 years old and the age of majority in your place of residence</span>
  </label>
</div>
