<div class="become-creator-message" id="become-creator-message">
  <h4 class="become-creator-message__title">Do you want to become a creator?</h4>
  <div class="become-creator-message__text">
    Check out
    <a href="/" class="become-creator-message__text become-creator-message__text_link">this tips</a>
    on how to become a creator
    and make content lorem ipsum dolor sit amet.
  </div>

  <button class="become-creator-message__close" type="button" id="become-creator-message-close">
    <svg class="become-creator-message__close-icon" viewBox="0 0 12 12">
      <use href="{{assets}}/img/svg-sprite/sprite.svg#close"></use>
    </svg>
  </button>
</div>
