<div class="create-new-in-posts">
  <div class="create-new-in-posts__top">
    <div class="create-new-in-posts__img-wrap">
      <img src="https://picsum.photos/100/100" alt="" class="create-new-in-posts__img">
    </div>

    <div class="create-new-in-posts__input-holder">
      <input type="text" class="create-new-in-posts__input" placeholder="Create new post...">
    </div>
  </div>

  <div class="create-new-in-posts__bottom">
    <button class="create-new-in-posts__button" type="button"  data-fancybox data-src="#dialog-content">
      {{> addNewIconGroup }}
    </button>
  </div>

  {{> addPostModal}}
</div>
