<div class="double-authentification">
    <h1>Google 2FA Settings</h1>
    <div class="double-authentification__switch">
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        <p>2 Factor Authentification</p>
    </div>
</div>