<div id="edit-profile" style="display:none;" class="edit-profile">
  <!--head-->
  <div class="edit-profile__head">
    <h2 class="edit-profile__head-title">Edit profile</h2>
    <button type="button" class="edit-profile__head-btn">
      <svg class="edit-profile__head-icon" viewBox="0 0 12 11">
        <use href="{{assets}}/img/svg-sprite/sprite.svg#close_cross"></use>
      </svg>
    </button>
  </div>


  <!--PROFILE PERSON-->
  <div class="edit-profile__profile">

    <div class="profile-person-top">
        <div class="profile-person__head">
            <h3 class="profile-person__title">Profile photo</h3>
            <button class="profile-person__button">Add/Change</button>
        </div>
        <div class="profile-person__avatar-wrapper">
            <img src="https://place-hold.it/146x35/666" alt="Profile avatar" class="profile-person__avatar" >
        </div>
    </div>
    <div class="profile-person-bottom">
        <div class="profile-person__head">
            <h3 class="profile-person__title">Profile photo</h3>
            <button class="profile-person__button">Add/Change</button>
        </div>  
        <div class="profile-person__image-wrapper">
            <img src="https://place-hold.it/389x193/grey/black" alt="Profile avatar" class="profile-person__image in-modal" >
        </div>
    </div>

  </div>

  <!--SHORT BIO-->
  <div class="edit-profile__bio">
    <h1 class="edit-profile__bio-title">Short bio</h1>
    <p class="edit-profile__bio-text"></p>
  </div>

</div>