<div class="header">
  <a href="/" class="header__logo-wrap">
    <img src="https://place-hold.it/146x35/666" alt="Fan topia logo" class="header__logo">
  </a>

  <!--  SEARCH  -->
  <div class="header__search-wrap">
    <input class="header__search-input" placeholder="Search for posts">

    <svg class="header__search-icon" viewBox="0 0 17 14">
      <use href="{{assets}}/img/svg-sprite/sprite.svg#magnifyer"></use>
    </svg>
  </div>
  <!--  /SEARCH  -->

  <div class="header__main">
    <!--  PROFILE  -->
    <div class="header__profile">
      <div class="header__profile-button">
        <img src="https://place-hold.it/146x35/666" alt="" class="header__profile-img">
        <p class="header__profile-name">Kate Lindman</p>
        <span class="header__profile-down"></span>
      </div>
    </div>
    <!--  /PROFILE  -->

    <!--  NOTIFICATIONS  -->
    <button class="header__notifications" type="button">
      <svg class="header__notifications-icon" viewBox="0 0 16 20">
        <use href="{{assets}}/img/svg-sprite/sprite.svg#notification"></use>
      </svg>

      <span class="header__notifications-count">23</span>
    </button>
    <!--  /NOTIFICATIONS  -->

    <!--  MESSAGES  -->
    <button class="header__messages" type="button">
      <svg class="header__messages-icon" viewBox="0 0 20 20">
        <use href="{{assets}}/img/svg-sprite/sprite.svg#message"></use>
      </svg>
    </button>
    <!--  /MESSAGES  -->
  </div>

  <!--  RESPONSIVE SEARCH  -->
  <button class="header__open-search" type="button">
    <svg class="header__open-search-icon" viewBox="0 0 17 14">
      <use href="{{assets}}/img/svg-sprite/sprite.svg#magnifyer"></use>
    </svg>
  </button>
  <!--  /RESPONSIVE SEARCH  -->
</div>
