<div class="wallets">
    {{#each this}}
        {{#if crypto}}
        <div class="wallets__item {{#if enable}} wallets__item_active{{/if}}"> 
            {{#if balance}}
            <h1 class="wallets__item-balance">{{balance}}</h1>
            <div class="wallets__item-note bitcoin">
                <img src="https://place-hold.it/32x30" class="wallets__item-icon">
                <span>BITCOIN balance</span>
            </div>
            {{/if}}
            <button class="wallets__item-button">Withdraw as crypto</button>
        </div>
        {{else}}
        <div class="wallets__item {{#if enable}} wallets__item_active{{/if}}"> 
            {{#if balance}}
            <h1 class="wallets__item-balance">${{balance}}</h1>
            <div class="wallets__item-note">
                <span>Current balance</span>
            </div>
            <button class="wallets__item-button">Withdraw as USD</button>
            <button class="wallets__item-button">Withdraw as crypto</button>
            {{else}}
            <h1 class="wallets__item-balance">$0</h1>
            <div class="wallets__item-note">
                <span>Current balance</span>
            </div>
            <button class="wallets__item-button">Withdraw as crypto</button>
            {{/if}}
        </div>
        {{/if}}
    {{/each}}
</div>