<div class="not-verified-modal" style="display:none;" id="not-verified-modal">

  <button class="post-created__close-btn js-close-modal-button">
    <svg class="post-created__close-icon" viewBox="0 0 12 11">
      <use href="{{assets}}/img/svg-sprite/sprite.svg#close_cross"></use>
    </svg>
  </button>

  <div class="not-verified-modal__warning">
    <svg class="not-verified-modal__warning-traingle" width="90" height="90">
      <use href="{{assets}}/img/svg-sprite/sprite.svg#warning_traingle"></use>
    </svg>
  </div>

  <p class="not-verified-modal__text">To use these features you must first <br />become a creator.</p>

  <button class="not-verified-modal__btn" type="button">Verify my account</button>
</div>