<div class="not-verified-message">
  <p class="not-verified-message__text">
    <a href="/verify-account" class="not-verified-message__text not-verified-message__text_link">Verify your account</a>
    to become a creator and withdraw funds.
  </p>
</div>
