<div class="not-verified-message">
  <p class="not-verified-message__text">
    <button class="not-verified-message__text not-verified-message__text_link" data-fancybox
            data-src="#verify-account-modal">Verify your account
    </button>
    to become a creator and withdraw funds.
  </p>

  {{> verifyAccountModal}}
</div>
