<div class="password-settings">
    <h1>Password settings</h1>
    <div class="password-settings__note">
        <div class="password-settings__note-complete">
            <svg width="0.9em" height="0.9em" viewBox="0 0 8.59 7.46">
                <use href="{{assets}}/img/svg-sprite/sprite.svg#complete-fat">
            </svg>
        </div>
        <p>
            Password has been set<br/>
            Choose a strong, unique password that’s at least 8 characters long.
        </p>
    </div>
    <button class="password-settings__button" type="button">
        Change password
    </button>
</div>