<div class="post-created" style="display:none;" id="post-created">
  <button class="post-created__close-btn">
    <svg class="post-created__close-icon" viewBox="0 0 12 11">
      <use href="{{assets}}/img/svg-sprite/sprite.svg#close_cross"></use>
    </svg>
  </button>

  <!--TOP-->
  <div class="post-created__top">
    <div class="post-created__top-image">
      <svg class="post-created__top-image--icon" viewBox="0 0 10 10">
        <use href="{{assets}}/img/svg-sprite/sprite.svg#complete_black"></use>
      </svg>
    </div>
    <p class="post-created__top-text">Your post will be visible in few minutes!</p>
  </div>

  <!--BOTTOM-->
  <div class="post-created__bottom">
    <p class="post-created__bottom-text">Please complete account verification so you <br />can withdraw funds.</p>
    <button type="button" class="post-created__bottom-btn">Continue</button>
  </div>

</div>