<div class="profile-person">
    <div class="profile-person-top">
        <h3 class="profile-person__title">Profile photo</h3>
        <button class="profile-person__button add-button">Add/Change</button>
        <div class="profile-person__avatar-wrapper">
            <img src="https://place-hold.it/146x35/666" alt="Profile avatar" class="profile-person__avatar" >
        </div>
    </div>
    <div class="profile-person-bottom">
        <h3 class="profile-person__title">Profile photo</h3>
        <button class="profile-person__button add-button">Add/Change</button>
        <div class="profile-person__image-wrapper">
            <img src="https://place-hold.it/389x193/grey/black" alt="Profile avatar" class="profile-person__image" >
        </div>
    </div>
</div>