<div class="schedule-confirm" style="display:none;" id="schedule-confirm">
  <button class="schedule-confirm__close-btn">
    <svg class="schedule-confirm__close-icon js-close-modal-button" viewBox="0 0 12 11">
      <use href="{{assets}}/img/svg-sprite/sprite.svg#close_cross"></use>
    </svg>
  </button>

  <div class="schedule-confirm__top">
      <div class="schedule-confirm__top-image">
        <svg class="schedule-confirm__top-image--icon" viewBox="0 0 10 10">
          <use href="{{assets}}/img/svg-sprite/sprite.svg#complete_black"></use>
        </svg>
      </div>
      <span class="schedule-confirm__top-text">Your post is scheduled for:</span>
      <h1 class="schedule-confirm__top-title">Friday, April 22, 2022 <br />15:32 pm</h1>
  </div>

  <div class="schedule-confirm__bottom">
    <p class="schedule-confirm__bottom-text">Please complete account verification so you <br />can withdraw funds.</p>
    <button type="button" class="schedule-confirm__bottom-btn is-close" title="Close">Continue</button>
  </div>
</div>