<div class="search-input">
  <input class="search-input__input-itself" placeholder="Search for posts">

  <svg class="search-input__icon" viewBox="0 0 17 14">
    <use href="{{assets}}/img/svg-sprite/sprite.svg#magnifyer"></use>
  </svg>
</div>
