<div class="settingsPages">
    <div class="settingsPages__container">
        {{#each main.settingsPages}}
            <a  href={{this.href}} 
                class="settingsPages__link 
                {{#if @first}} settingsPages__link_active {{/if}}
            ">
                {{this.title}}
            </a>
        {{/each}}
    </div>
</div>