<div class="settingsPages">
    <div class="settingsPages__container">
        {{#each main.settingsPages}}
            <button 
                type="button"
                class="settingsPages__button
                js-settings-pages 
                {{#if @first}} settingsPages__button_active {{/if}}
            ">
                {{this.title}}
            </button>
        {{/each}}
    </div>
</div>