<div class="settings-pages">
  <div class="settings-pages__container">
    {{#each main.settingsPages}}
      <button
              {{#ifCond ../disabled dataId }}disabled{{/ifCond}}
              data-id="{{this.dataId}}"
              type="button"
              class="settings-pages__button
                js-tabs-button
                {{#if @first}} active {{/if}}
            ">
        {{this.title}}
      </button>
    {{/each}}
  </div>
</div>
