<div class="settingsPages {{#if disabled}}settingsPages_disabled{{/if}}"> 
    <div class="settingsPages__container">
        {{#each main.settingsPages}}
            <button 
                id={{this.id}}
                data-id="{{this.dataId}}"
                type="button"
                class="settingsPages__button
                js-settings-button 
                {{#if @first}} js-active-button {{/if}}
            ">
                {{this.title}}
            </button>
        {{/each}}
    </div>
</div>