<p class="subscription-set-up__title">Subscription set up</p>
<div class="subscription-price">
    <div class="">
        <label for="id_select">
            <p class="subscription-price__title">Subscription price</p>
            <select class="subscription-price__select standart-select" name="price" id="id_select" style="width: 155px">
                <option value="$ 5">$ 5</option>
            </select>
        </label>
    </div>
    <div class="subscription-price__switch">
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        <p class="subscription-price__switch-text">
            Crypto payments
        </p>
    </div>
</div>
<p class="subscription-price__text">
    Please note, there is a third party credit card<br /> 
    processing fee of 6.5%. Our fee is 7.5%.
</p>
