<div class="window-head">
    <label class="window-back">
            <button class="window-head__button">
                <svg class="window-head__bitton-image" width="8px" height="11" viewBox="0 0 8 11">
                    <use href="{{assets}}/img/svg-sprite/sprite.svg#back-arrow"></use>
                </svg> 
            </button>
        <p class="window-head__title">Settings</p>
    </label>
</div>