{{> header title="Index page"}}

<ul>
  <li><a href="{{indexDir}}/pages/home_first_time_user.html">Home page (first time user)</a></li>
  <li><a href="{{indexDir}}/pages/home_creator_not_verified.html">Home page (creator not verified)</a></li>
  <li><a href="{{indexDir}}/pages/settings_unverfified_account.html">profile settings (creator not verified)</a></li>
  <li><a href="{{indexDir}}/pages/login.html">Login page</a></li>
  <li><a href="{{indexDir}}/pages/settings_unverified_profile.html">profile settings (creator not verified)</a></li>
</ul>

{{> footer }}
