{{> header title="Index page"}}

<ul>
  <li><a href="{{indexDir}}/pages/01_login.html">1. Login page</a></li>
  ------------------------------------------------------------------------
  <li><a href="{{indexDir}}/pages/02_home_first_time_user.html">2. Home page (first time user)</a></li>
  <li><a href="{{indexDir}}/pages/03_home_creator.html">3. Home page creator</a></li>
  <li><a href="{{indexDir}}/pages/04_home_creator_not_verified.html">4. Home page (creator not verified)</a></li>
  <li><a href="{{indexDir}}/pages/05_home_completed.html">5. Home page (creator 100% completed)</a></li>
  ------------------------------------------------------------------------
  <li><a href="{{indexDir}}/pages/06_settings_unverified.html">6. profile settings (unverified)</a></li>
  <li><a href="{{indexDir}}/pages/07_settings.html">7. profile settings</a></li>
  ------------------------------------------------------------------------
  <li><a href="{{indexDir}}/pages/08_my_balance.html">8. my balance</a></li>
  <li><a href="{{indexDir}}/pages/09_my_balance_fan.html">9. my balance (fan)</a></li>
  ------------------------------------------------------------------------
  <li><a href="{{indexDir}}/pages/10_my_profile_unverified.html">10. my profile unverified</a></li>
  <li><a href="{{indexDir}}/pages/11_my_profile.html">11. my profile</a></li>
  <li><a href="{{indexDir}}/pages/12_creator_profile.html">12. creator profile with subscription</a></li>
  <li><a href="{{indexDir}}/pages/13_creator_profile_free.html">13. creator profile free</a></li>
</ul>

{{> footer }}
