{{> header title="Index page"}}

<ul>
  <li><a href="{{indexDir}}/pages/login.html">Login page</a></li>
  <li><a href="{{indexDir}}/pages/home.html">Home page</a></li>
  <li><a href="{{indexDir}}/pages/home_first_time_user.html">Home page (first time user)</a></li>
  <li><a href="{{indexDir}}/pages/home_creator_not_verified.html">Home page (creator not verified)</a></li>
  <li><a href="{{indexDir}}/pages/home_completed.html">Home page (100% completed)</a></li>
  <li><a href="{{indexDir}}/pages/settings_unverified.html">profile settings (unverified)</a></li>
  <li><a href="{{indexDir}}/pages/settings.html">profile settings</a></li>
  <li><a href="{{indexDir}}/pages/my_balance.html">my balance</a></li>
  <li><a href="{{indexDir}}/pages/my_balance_fan.html">my balance (fan)</a></li>
  <li><a href="{{indexDir}}/pages/my_profile_unverified.html">my profile unverified</a></li>
  <li><a href="{{indexDir}}/pages/my_profile.html">my profile</a></li>
  <li><a href="{{indexDir}}/pages/creator_profile.html">creator profile with subscription</a></li>
  <li><a href="{{indexDir}}/pages/creator_profile_free.html">creator profile free</a></li>
</ul>

{{> footer }}
